.movie-modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
}

.movie-modal-dim {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  object-fit: cover;
  background-color: var(--color-black);
}

.movie-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  width: 25rem;
  min-height: 65vh;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  z-index: 21;
  box-shadow: 0 0 30px black;
  overflow-y: scroll;
}

.movie-modal-skeleton {
  position: fixed;
  left: 50%;
  top: 50%;
}

.movie-modal-button-container {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: white;
}

.movie-modal-button-container > * {
  font-size: 1.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-black);
}

.movie-modal-content {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background: linear-gradient(
    to top,
    var(--color-black) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  margin-top: 30rem;
  padding: 4rem 1rem 1rem;
  line-height: 1.6;
}

.movie-modal-content > * {
  margin-bottom: 1rem;
}

.movie-modal-title {
  font-size: 2rem;
}
